:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-default: #0083fd;
  --color-page: #89c9ee;
  --color-smoke: #f7f1f1;
  --color-brown: #303030;

  --color-gray: #ededed;
  --color-light: rgba(255, 255, 255, 0.5);
  --color-alice: #f8f9fa;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
#home {
  padding: 2rem 9%;
}
/* Navbar */
.header {
  position: relative;
  top: 10;
  left: 35;
  width: 95%;
  padding: 1rem 5%;
  border-radius: 10px;
  background: var(--color-smoke);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  box-shadow: 0 0.1rem 1rem rgb(122, 122, 122);
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: auto;
  background: linear-gradient(90deg, transparent, rgba(124, 232, 247, 0.575), transparent);
  transition: 0.5s;
}
.header:hover::after {
  left: 100%;
}
.navbar a {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 1rem;
  color: var(--color-black);
  text-decoration: none;
  font-weight: 600;
  margin: 2rem;
}
.navbar .nav-center {
  font-size: 2rem;
  font-family: "Dancing Script", cursive;
  color: var(--color-black);
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 800;
}
.navbar .nav-center:hover {
  color: var(--color-black);
}
.logo {
  opacity: 0;
  overflow: hidden;
}
.logo:hover {
  color: var(--color-black);
}
.navbar a i {
  color: var(--color-black);
}
.navbar a:hover {
  color: var(--color-page);
  transition: 0.2s ease;
}
#check {
  display: none;
}
.icons {
  position: absolute;
  right: 5%;
  font-size: 2.8rem;
  color: var(--color-black);
  cursor: pointer;
  display: none;
}
.icons:hover {
  color: var(--color-page);
  transition: 0.2s ease;
}

/* Responsive */
@media (max-width: 991px) {
  .header {
    width: 95%;
    left: 22;
    padding: 1.3rem 5%;
  }
}
@media (max-width: 768px) {
  .header {
    left: 18;
    width: 95%;
    border-radius: 10px;
  }
  .logo {
    font-size: 2rem;
    font-family: "Dancing Script", cursive;
    color: var(--color-black);
    text-decoration: none;
    font-weight: 800;
    opacity: 1;
  }
  .navbar .nav-center {
    display: none;
  }
  .icons {
    display: inline-flex;
  }
  /* Toggle */
  .icons #close-icon {
    display: none;
  }
  #check:checked ~ .icons #menu-icon {
    display: none;
  }
  #check:checked ~ .icons #close-icon {
    display: block;
  }
  .header .navbar {
    position: absolute;
    top: 120%;
    border-radius: 10px;
    left: 0;
    height: 0;
    width: 100%;
    background: var(--color-smoke);
    box-shadow: 0 0.1rem 1rem rgb(122, 122, 122);
    overflow: hidden;
    transition: 0.3s ease;
  }
  #check:checked ~ .navbar {
    height: 17.7rem;
  }
  .navbar a {
    display: block;
    font-size: 1.1rem;
    margin: 2.2rem 0;
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
    transition: 0.3s ease;
  }
  #check:checked ~ .navbar a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(0.13s * var(--i));
  }
}
@media (max-width: 412px) {
  .header {
    left: 9;
  }
}

/* Sort by */
.input-group {
  width: 35%;
  height: 100%;
  background: var(--color-brown);
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  padding: 5px;
  color: var(--color-white);
  font-size: 10pt;
  margin: auto;
}
.input-group button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  color: var(--color-white);
}
.input-group i {
  width: auto;
  height: auto;
}
.input-group input {
  width: 100%;
  padding: 0 0.5rem 0 0.3rem;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--color-white);
}
.input-group input::placeholder{
  color: var(--color-white);
}

.sort {
  width: 100%;
  height: 100px;
  border-bottom: 2px solid var(--color-white);
  display: flex;
  align-items: center;
  margin-top: 1rem;
  justify-content: space-between;
}
.sort ul li {
  list-style: none;
  padding: 20px;
  margin: 10px;
  float: left;
  font-size: 20px;
  border-radius: 35px;
  /*background: red;*/
}
.sort ul li a {
  color: inherit;
  text-decoration: none;
}
.sort ul li a:hover {
  color: var(--color-default);
  transition: 0.4s ease;
}
.sort ul li.active {
  background: var(--color-default);
  transition: all 0.6 ease;
}
.sort ul li.active a {
  color: var(--color-white);
  font-weight: bold;
}

.filter-condition {
  font-size: 20px;
  padding: 0 10px 0 10px;
  font-weight: bold;
}
.filter-condition a{
  text-decoration: none;
  color: var(--color-black);
}
.filter-condition a:hover{
  color: var(--color-default);
}
li h4 {
  position: absolute;
  right: 10px;
  top: 50%;
  font-size: 30px;
  color: var(--color-brown);
  text-shadow: 1px 1px 2px black;
}
@media (max-width: 768px) {
  .sort {
    display: flex;
    flex-direction: column;
    height: 150px;
  }
}
@media (max-width: 412px) {
  .input-group{
    width: 70%;
  }
}
/* Product */
/* Utility stylings */
img {
  width: 100%;
  display: block;
}
.container {
  width: 88vw;
  margin: 0 auto;
}
.lg-title,
.md-title,
.sm-title {
  font-family: 'Montserrat', serif;
  padding: 0.6rem 0;
  text-transform: capitalize;
}
.lg-title {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  padding: 1.3rem 0;
  opacity: 0.9;
}
.md-title {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}
.sm-title {
  font-weight: 300;
  font-size: 1rem;
  text-transform: uppercase;
}
.text-light {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  opacity: 0.5;
  margin: 0.4rem 0;
}

/* product section */
.products {
  background: var(--color-alice);
  padding: 3.2rem 0;
}
.products .text-light {
  text-align: center;
  width: 70%;
  margin: 0.9rem auto;
}
.product {
  margin: 2rem;
  position: relative;
}
.product-content {
  background: var(--color-gray);
  padding: 3rem 0.5rem 2rem 0.5rem;
  cursor: pointer;
}
.product-img {
  background: var(--color-light);
  box-shadow: 0 0 20px 10px var(--color-light);
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  transition: background 0.5s ease;
}
.product-btns {
  display: flex;
  justify-content: center;
  margin-top: 1.4rem;
  opacity: 0;
  transition: opacity 0.6s ease;
}
.btn-buy {
  background: transparent;
  border: 1px solid var(--color-black);
  padding: 0.8rem 0;
  width: 125px;
  font-family: inherit;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  transition: all 0.6s ease;
}
.btn-buy {
  background: var(--color-white);
}
.btn-buy:hover {
  background: var(--color-default);
  color: var(--color-white);
}
.product-info {
  background: var(--color-white);
  padding: 2rem;
}
.product-info-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-name {
  color: var(--color-black);
  display: block;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}
.product-price {
  padding-top: 0.6rem;
  padding-right: 0.6rem;
  display: inline-block;
}
.product-price:first-of-type {
  color: var(--color-default);
}
.product-img img {
  transition: transform 0.6s ease;
}
.product:hover .product-img img {
  transform: scale(1.1);
}
.product:hover .product-img {
  background: var(--color-default);
}
.product:hover .product-btns {
  opacity: 1;
}

/* product collection */
.product-collection {
  padding: 3.2rem 0;
}
.product-collection-wrapper {
  padding: 3.2rem 0;
}
.product-col-left {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("../../img/fashion-img-1.png") center/cover no-repeat;
}
.product-col-r-top {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("../../img/fashion-img-2.png") center/cover no-repeat;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 50vh;
  padding: 2rem 1.5rem 3.2rem;
  margin: 5px;
}
.product-col-r-bottom > div:first-child {
  background: #ea7d01;
}
.product-col-r-bottom > div:last-child {
  background: #0090ff;
}
.product-col-content {
  text-align: center;
  color: var(--color-white);
}
.product-collection .text-light {
  opacity: 1;
  font-size: 0.8;
  font-weight: 400;
  line-height: 1.7;
}
.btn-dark {
  background: var(--color-black);
  color: var(--color-white);
  outline: 0;
  border-radius: 25px;
  padding: 0.7rem 1rem;
  border: 0;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.6s ease;
  font-size: 1rem;
  font-family: inherit;
}
.btn-dark:hover {
  background: var(--color-default);
}

/* Media Queries */
@media screen and (min-width: 992px) {
  .product-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .product-col-r-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .product-items {
    grid-template-columns: repeat(3, 1fr);
  }
  .product {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .products .text-light {
    width: 50%;
  }
}

@media screen and (min-width: 1336px) {
  .product-items {
    grid-template-columns: repeat(4, 1fr);
  }
  .product-collection-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .flex {
    height: 60vh;
  }
  .product-col-left {
    height: 121.5vh;
  }
}
@media (max-width: 412px) {
  body {
    height: auto;
  }
}

/* PAGINATION */
.pagination{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}
.ul-search{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  width: 500px;
  height: 30px;
}
.ul-search .active{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #004f83;
  border: 1px solid #004f83;
  border-radius: 5px;
  width: 45px;
  height: 40px;
}
.ul-search .active a{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 45px;
  height: 40px;
  cursor: pointer;
  color: #fff;
}
.ul-search li{
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-white);
  border: 1px solid #004f83;
  border-radius: 5px;
  width: 45px;
  height: 40px;
  margin: 0 2px;
  font-size: 15pt;
}
.ul-search li a{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  width: 45px;
  height: 40px;
  color: #004f83;
}

/* FOOTER */
footer{
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--color-brown);
  height: auto;
  width: auto;
  font-family: "Open Sans";
  padding-top: 40px;
  color: var(--color-white);
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: var(--color-white);
}
.socials a i{
  font-size: 2rem;
  transition: color .4s ease;

}
.socials a:hover i{
  color: var(--color-default);
}

.footer-bottom{
  background: var(--color-black);
  width: auto;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}