*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../IMG/bg.avif);
  background-repeat: no-repeat;
  background-size: cover;
}

main.table {
  width: 82vw;
  height: 90vh;
  background-color: rgba(255, 255, 255, 0.226);
  backdrop-filter: blur(7px);
  box-shadow: 0 0.4rem 0.8rem #0005;
  border-radius: 0.8rem;
  overflow: hidden;
}

main .out {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0 5px 0;
}

.table__header {
  width: 100%;
  height: 10%;
  background-color: rgba(255, 255, 255, 0.356);
  padding: 0.8rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table__header .input-group {
  width: 35%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.432);
  padding: 0 0.8rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.table__header .input-group:hover {
  width: 45%;
  background-color: #fff8;
  box-shadow: 0 0.1rem 0.4rem #0002;
}
.table__header .input-group button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.table__header .input-group img {
  width: 1.2rem;
  height: 1.2rem;
}

.table__header .input-group input {
  width: 100%;
  padding: 0 0.5rem 0 0.3rem;
  background-color: transparent;
  border: none;
  outline: none;
}

.table__body {
  width: 95%;
  max-height: calc(89% - 1.6rem);
  background-color: rgba(255, 255, 255, 0.637);
  margin: 0.8rem auto;
  border-radius: 0.6rem;
  overflow: auto;
  overflow: overlay;
}

.table__body::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #0004;
  visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

table {
  width: 100%;
}

td img {
  width: 36px;
  height: 36px;
  margin-right: 0.5rem;
  border-radius: 50%;

  vertical-align: middle;
}

table,
th,
td {
  border-collapse: collapse;
  padding: 1rem;
  text-align: left;
}

thead th {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #d5d1defe;
  cursor: pointer;
  text-transform: capitalize;
}

tbody tr:nth-child(even) {
  background-color: #0000000b;
}

tbody tr {
  --delay: 0.1s;
  transition: 0.5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
  opacity: 0;
  transform: translateX(100%);
}

tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.315) !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
  transition: 0.2s ease-in-out;
}
tbody tr td a {
  color: #004ef7;
  font-size: 1rem;
  font-weight: 200;
}
tbody tr td a:hover {
  text-decoration: underline;
  transition: 0.5s ease;
}
tbody tr td a i {
  font-size: 15px;
  padding: 5px 0 0;
  color: #5e5c5c;
}
tbody tr td a i:hover {
  color: #004ef7;
  transition: 0.5s ease;
  transform: scale(1.2);
}

tbody tr.hide td,
tbody tr.hide td p {
  padding: 0;
  font: 0 / 0 sans-serif;
  transition: 0.2s ease-in-out 0.5s;
}

tbody tr.hide td img {
  width: 0;
  height: 0;
  transition: 0.2s ease-in-out 0.5s;
}

@media (max-width: 1000px) {
  td:not(:first-of-type) {
    min-width: 12.1rem;
  }
}

thead th:hover {
  color: #004ef7;
}

.setting-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.setting-right a i {
  font-size: 1.5rem;
  color: #000000;
  margin-left: 5px;
}

.setting-right a i:hover {
  color: #004ef7;
  transform: scale(1.15);
}
@media (max-width: 412px) {
  .table__header {
    flex-direction: column;
    height: 20%;
  }
  .table__header .input-group {
    width: 80%;
    height: 25%;
  }
  .table__header .input-group:hover {
    width: 95%;
    background-color: #fff8;
    box-shadow: 0 0.1rem 0.4rem #0002;
  }
  .export__file .export__file-options {
    position: relative;
    margin: 0 -85px;
    justify-content: center;
    right: 0;
}
}
/* Header Left */
.export__file {
    position: relative;
}

.export__file .export__file-btn {
    display: inline-block;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: .2s ease-in-out;
}

.export__file .export__file-btn:hover {
    color: #004ef7;
    transform: scale(1.15);
    cursor: pointer;
}

.export__file input {
    display: none;
}

.export__file .export__file-options {
    position: absolute;
    right: 50;
    width: 12rem;
    border-radius: .5rem;
    overflow: hidden;
    text-align: center;
    opacity: 0;
    transform: scale(.8);
    transform-origin: top right;
    box-shadow: 0 .2rem .5rem #0004;
    transition: .2s;
}

.export__file input:checked + .export__file-options {
    opacity: 1;
    transform: scale(1);
    z-index: 100;
}

.export__file .export__file-options label{
    display: block;
    width: 100%;
    padding: .6rem 0;
    font-size: 1rem;
    color: #fff;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: .2s ease-in-out;
}

.export__file .export__file-options label:first-of-type{
    padding: 1rem 0;
    background-color: #004ef7 !important;
    font-size: 1.2rem;
    font-weight: 700;
}
.export__file .export__file-options label a{
    color: #000000;
    font-weight: 600;
}

.export__file .export__file-options label:hover{
    transform: scale(1.05);
    background-color: #fff;
    cursor: pointer;
}





/* Insert Style */
.container{
  position: relative;
  background-color: rgba(255, 255, 255, 0.637);
  min-height: 80vh;
  top:0;
  left:0;
  width: calc(100% - 300px);
  transition: all .5s ease;
  z-index: 2;
}
.element{
  margin-left: 1rem;
  margin-right: 1rem;
}
.element h1{
  text-align: center;
  margin: 1rem;
}
.edit{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px;
  color: #fff;
  font-weight: 700;
  background: #004ef7;
}
.edit .fungsi a{
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  padding: 10px;
  transition: 0.4s ease;
}
.edit .fungsi a:hover{
  border-radius: 5px;
  background: #5e5c5c;
  transform: scale(1.15);
}
form div {
  margin-bottom: 15px;
  outline: none;
}
form div label{
  font-size: 20px;
  font-family: 'Poppins';
  outline: none;
}
form div input,
form div textarea{
  resize: none;
  padding: 10px;
  width: 100%;
  height: 40px;
  border-style: none;
  outline: none;
}
form div input .text-input{
  outline: none;
}
form div input .image{
  width: 100%;
  height: 100%;
}
.image{  
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  background: #fff;
  border-radius: 10;
  width: 100%;
  height: 100%;
  outline: none;
}
::-webkit-file-upload-button{
  color: #fff;
  background: #004ef7;
  padding: 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 0 1px #f3e5e5;
  outline: none;
}
::-webkit-file-upload-button:hover{
  background: #5e5c5c;

}
form div select{
    width: 100%;
    height: 30px;
    font-size: 15px;
    border-style: none;
    outline: none;
}
.tmbl1 input{
  background: #5e5c5c;
  border-radius: 5px;
  margin-top: 0px;
  padding: 5px 10px 5px 10px;
  color: #fff;
  cursor: pointer;
}
.tmbl1 input:hover{
  color: #fff;
  background: #004ef7;
  text-decoration: none;
  transition: all .5s ease;
}

/* Update Style */
